.ant-advanced-search-form{
    .filter_item_title{
        text-align: right;
        font-weight:bold;
    }
    .bline{
        border-bottom:1px dashed #e8e8e8; 
        margin:16px 0;
    }
    .empty_item{
        color:#999;
    }
}
